body {
    background-image: url(".img/ufopizza.png");
    /*NO SE COMO SE PONE ESTO*/
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }

  h1, h2 {
    font-family:Impact, sans-serif;
  }
  
  .menu {
    width: 90%;
    background-color: rgb(202, 101, 19);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 600px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-25px;
  }

  .item p {
display:inline-block;
  }

  .flavor, .beer, .mejor{
    text-align: left;
    width: 50%;
  }
  
  .ingr, .sabor {
    text-align: right;
    width: 50%;
  }

  .none {
    display: none;
  }