.navbar ul{
    list-style: none;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    padding:30px;
    border:2px solid black;
    background-color: rgb(217, 207, 16);
    color: black;
}
.navbar li{
    display: inline-block;
    margin-right: 5%;
}
.navbar{
    margin:0;
    border: 0;
    display: block;
    top: 0;
}
header{
    background-color: rgba(92, 98, 25, 0.346);
    padding: 1.2%;
}
header h1{
    float: left;
}
main{
    background-color: rgba(92, 98, 25, 0.346);
    font-size: large;
    color: white;
}
main h2, main p{
    display: inline;
}
main ul{
    list-style: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
main ul li{
    display: inline-block;
    width: 100%;
    text-align: center;
}
li img{
    width: 40%;
    border: 1px solid;
    margin-right: 1%;
    margin-left: auto;
}
body{
    background-image: url(img/1309914.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    background-color: rgb(92, 76, 76);
    text-align: right;
    width: 100%;
}

