.navbar ul{
    list-style: none;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    padding:30px;
    border:2px solid black;
    background-color: rgb(217, 207, 16);
    color: black;
}
.navbar li{
    display: inline-block;
    margin-right: 5%;
}
.navbar{
    margin:0;
    border: 0;
    display: block;
    top: 0;
}
header{
    background-color: rgba(92, 98, 25, 0.346);
    padding: 1.2%;
}
header h1{
    float: left;
}
body{
    background-image: url(img/1309914.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    background-color: rgb(92, 76, 76);
    text-align: right;
    width: 100%;
}
.grupoimg1 ul{
    list-style: none;
}

.grupoimg1 img{
    width: 307.969px;
    height: 205.344px;
    border: 1px solid;
    margin-right:1% ;
}
.li3 p{
    width: 307.969px;
    margin-right:1% ;
    display: inline-block;
    background-color: rgb(158, 158, 158);
    margin-top: -1%;
}
.grupoimg1 h3{
    text-align: center;
    display: inline-block;
    margin-right: 1%;
    margin-top: -2%;
    width: 307.969px;
    background-color: rgb(92, 76, 76);
}
.general{
    background-color: rgba(92, 98, 25, 0.346);
}
.general h2{
    background-color: rgb(92, 76, 76);
    width: fit-content;
}
.promo{
    text-align: center;
    display: inline-block;
    margin-right:0.2%;
    width: 28%;
    float:right;
    border: 1px solid;
}
.promo h2{
    padding-left: -5%;
    text-align: right;
}
.redesL{
    display: flex;
    background-color: gray;
    list-style:none;
    justify-content: center;
    margin-block-start: 1%;

}
.redesL li{
    display: flex;
    justify-content: flex-start;
    margin: 0 2%;
    height: 100%;
    width: fit-content;
    background-color: beige;
    padding: 1.5%;
}
.redesL a{
    width:max-content;
    text-decoration: none;
    color: black;
    height: fit-content;
}
.redesL img{
    display: flex;
    padding: 0;
    margin: auto;   
}
footer{
    background-color: black;
    color: yellow;
    width: 100%;
}
.bienvenido{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -2%;
}
.bienvenido h2{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
footer p{
    display: flex;
    justify-content: center;
    margin:-1% ;
    padding: 0.2%;
}
 